<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Login</h1>

    <section class="login">
      <p>
        <label for="email">Email: </label>
        <input id="email" type="email" formControlName="email" required />
        <app-control-error controlPath="email" />
      </p>
      <p>
        <label for="password">Password: </label>
        <input
          id="password"
          type="password"
          formControlName="password"
          required
        />
        <app-control-error controlPath="password" />
      </p>
    </section>

    <section>
      <p>
        <button type="submit" [disabled]="isSubmitting">Login</button>
      </p>
    </section>

    @if (errorService.messages.length > 0) {
      <app-form-errors></app-form-errors>
    }
  </form>
</div>
