/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* Color Palette */

/*

   Main:

   Aquamarine - rgb(3, 252, 186)
   Caribbean Current - rgb(8, 96, 95)
   Teal - rgb(23, 126, 137)
   Hooker's Green - rgb(89, 131, 129)
   Moss Green - rgb(142, 147, 109)

   UCLA Blue - rgb(34, 116, 165)
   Cinereous - rgb(129, 108, 97)
   French Gray - rgb(179, 181, 187)

   Highlight:

   Black - rgb(0, 0, 0)
   Magnolia - rgb(252, 247, 255)
   Pumpkin - rgb(250, 121, 33)
   Marian Blue - rgb(61, 59, 142)

   Rich Black - rgb(19, 27, 35)

 */
