:host {
  display: block;
}

.background-container {
  position: relative; /* Needed for background image */
  background-color: rgb(23, 126, 137, 0.7);
  height: 65svh;
}

.background-img {
  object-fit: cover;
  opacity: 0.2;
}

.content-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 45svh;
  overflow: hidden;
}

.get-started {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgb(3, 252, 186);
  background: linear-gradient(
    135deg,
    rgba(3, 252, 186, 1) 0%,
    rgba(8, 86, 95, 1) 85%
  );
  border: solid 5px rgb(23, 126, 137);
  border-radius: 15px;
  height: 35svh;
  min-height: 250px;
  width: 35svw;
  min-width: 350px;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
}

h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  text-align: center;
}

nav h2 {
  color: rgb(252, 247, 255);
  margin-bottom: 50px;
}

span {
  color: rgb(252, 247, 255);
  margin: 10px;
}

.welcome {
  text-align: center;
}

.features {
  margin: 20px;
}

li {
  font-size: 1.2em;
  line-height: 2;
  list-style-type: square;
}

a {
  text-decoration: none;
}

.button {
  background-color: rgb(61, 59, 142);
  border: 2px solid;
  color: rgb(252, 247, 255);
  border-radius: 15px;
  font-size: 1.2em;
  padding: 5px 20px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(61, 59, 142, 0.8);
}
