header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: rgb(136, 156, 181);
  padding: 10px;
  width: 100%;
  height: 5%;
  min-height: 50px;
}
