<header>
  <button
    class="sidebar-button"
    type="button"
    (click)="toggleSidebar()"
    [class.is-active]="isSidebarOpen$ | async"
  >
    <img
      id="sidebar-button-img"
      ngSrc="/menu-grid-r-svgrepo-com.svg"
      alt="Menu icon."
      fill
      priority
    />
  </button>
  <span class="title">{{ title$ | async }}</span>
  <div class="margin-left-auto">
    @if (curUserInfo$ | async; as user) {
      <span>{{ user.email }}</span>
    }
    <button class="logout-button" type="button" (click)="logout()">
      Logout
    </button>
  </div>
</header>
