<form
  class="create-shopping-list-item"
  [formGroup]="createShoppingItemForm"
  (ngSubmit)="submit()"
>
  <div>
    <input
      type="text"
      formControlName="name"
      aria-label="Name"
      required
      maxlength="20"
    />
  </div>
  <div>
    @if (measurement) {
      <div>
        <button
          class="remove-button"
          type="button"
          (click)="removeMeasurement()"
        >
          -
        </button>
        <input
          type="text"
          formControlName="measurement"
          aria-label="Measurement"
          required
          maxlength="20"
        />
      </div>
    } @else {
      <button class="add-button" type="button" (click)="addMeasurement()">
        +
      </button>
    }
  </div>
  <div>
    @if (price) {
      <div>
        <button class="remove-button" type="button" (click)="removePrice()">
          -
        </button>
        <input
          type="text"
          inputmode="numeric"
          formControlName="price"
          aria-label="Price"
          required
          maxlength="13"
          [pattern]="priceRegEx"
        />
      </div>
    } @else {
      <button class="add-button" type="button" (click)="addPrice()">+</button>
    }
  </div>
  <div>
    @if (quantity) {
      <div>
        <button class="remove-button" type="button" (click)="removeQuantity()">
          -
        </button>
        <input
          type="number"
          formControlName="quantity"
          aria-label="Quantity"
          min="1"
          onKeyDown="return false"
        />
      </div>
    } @else {
      <button class="add-button" type="button" (click)="addQuantity()">
        +
      </button>
    }
  </div>
  <div class="actions">
    <button class="create-button" type="submit">Create</button>
    <button class="cancel-button" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
