:host {
  display: block;
  padding: 15px;
}

.tags {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.tags > h2 {
  color: rgb(19, 27, 35);
}

.select-tags-list-box-label {
  display: block;
  font-size: 1.2em;
  padding: 5px;
}

.select-tags-list-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(89, 131, 129);
  border: 3px solid rgb(19, 27, 35);
  list-style: none;
  line-height: 2.15;
  padding: 0;
  width: 33%;
}

.select-tags-option {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

.select-tags-option[aria-selected="true"] {
  color: rgb(0, 0, 0);
  background-color: rgb(179, 181, 187, 0.3);
  border: 1px solid rgb(179, 181, 187, 0.3);
  border-radius: 5px;
}

.cdk-option-active {
  color: rgb(3, 252, 186);
}

.selected-tags-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 15px;
}

.selected-tags-container > span {
  font-weight: bold;
}

.selected-tag {
  border-radius: 25px;
  box-shadow: inset 1px 1px 1px 1px rgb(19, 27, 35);
  text-align: center;
  font-weight: bold;
  padding: 5px;
  width: auto;
  min-width: 100px;
}

.selected-tag:nth-child(2) {
  background-color: rgb(250, 121, 33);
  border: 1px solid rgb(250, 121, 33);
}

.selected-tag:nth-child(3) {
  background-color: rgb(34, 116, 165);
  border: 1px solid rgb(34, 116, 165);
}

.selected-tag:nth-child(4) {
  background-color: rgb(61, 59, 142);
  border: 1px solid rgb(61, 59, 142);
}
