:host {
  display: block;
  user-select: none;
  height: 100%;
  cursor: pointer;
}

.scheduled-meal-card {
  background-color: rgb(34, 116, 165);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}

.scheduled-meal-card-heading-container {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
  padding: 5px;
}

.scheduled-meal-card-heading-container > h3 {
  font-style: italic;
  margin: 0;
}

.scheduled-meal-card-remove-button {
  background-color: rgb(250, 121, 33);
  border: 2px solid rgb(250, 121, 33);
  border-radius: 3px;
  color: rgb(252, 247, 255);
  box-shadow: 1px 1px 1px rgb(19, 27, 35);
  margin-left: 15px;
  margin-top: 0;
  padding: 1px 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
}

.scheduled-meal-card-remove-button:hover {
  background-color: rgb(250, 121, 33, 0.8);
  border: 2px solid rgb(250, 121, 33, 0.2);
  box-shadow: 1px 1px 1px rgb(19, 27, 35, 0.8);
}

.scheduled-meal-card-img-container {
  position: relative;
  border: 3px solid rgb(61, 59, 142);
  width: 200px;
  height: 200px;
}

.scheduled-meal-card-img {
  object-fit: cover;
}
