<div
  class="home-container"
  [@slide]="(isSidebarOpen$ | async) ? 'right' : 'left'"
>
  <section class="home">
    <h1>Home</h1>
    <div class="home-content">
      <a class="home-recipes" routerLink="/manage/recipes">
        <h2>Recipes</h2>
      </a>
      <a class="home-meals" routerLink="/manage/meals">
        <h2>Meals</h2>
      </a>
      <a class="home-schedule" routerLink="/schedule">
        <h2>Schedule</h2>
      </a>
      <a class="home-shopping-list" routerLink="/shopping-list">
        <h2>Shopping List</h2>
      </a>
    </div>
  </section>
</div>
