:host {
  display: block;
  background-color: rgb(23, 126, 137);
  height: 95svh;
  overflow: hidden;
  padding: 0;
}

.home-container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.home > h1 {
  color: rgb(250, 121, 33);
  text-shadow: 1px 1px 1px rgb(19, 27, 35);
}

.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  height: 80%;
}

.home-recipes {
  border-top-left-radius: 15px;
}

.home-meals {
  border-left: none;
  border-top-right-radius: 15px;
}

.home-schedule {
  border-top: none;
  border-bottom-left-radius: 15px;
}

.home-shopping-list {
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 15px;
}

a {
  background: #2274a5;
  background: radial-gradient(
    circle,
    rgba(34, 116, 165, 1) 25%,
    rgba(61, 59, 142, 1) 90%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(19, 27, 35);
  color: rgb(19, 27, 35);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  box-shadow: inset 0 0 10px 1px rgb(129, 108, 97);
}
