<div class="background-container">
  <img
    class="background-img"
    ngSrc="/roasted_salmon_with_rice.jpg"
    alt="Roasted salmon with rice."
    fill
    priority
    sizes="100svw"
  />
  <div class="content-container">
    <section class="welcome">
      <h1>Welcome</h1>
      <p>Get started with planning your meals.</p>
    </section>
    <section class="features">
      <h2>Features</h2>
      <ul>
        <li>Create and manage your own recipes</li>
        <li>Share your recipes with others</li>
        <li>Schedule your meals for the week</li>
        <li>Keep track of what's needed for this weeks groceries</li>
      </ul>
    </section>
  </div>
</div>
<div class="get-started">
  <nav>
    <h2>Get started</h2>
    <a class="button" routerLink="/login"> Login </a>
    <span> or </span>
    <a class="button" routerLink="/register"> Register </a>
  </nav>
</div>
