.errors {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.errors h2 {
  color: rgb(255, 15, 35);
  text-shadow: 1px 1px 1px rgb(19, 27, 35);
  margin: 0;
}

.errors p {
  margin-bottom: 0;
}

.error-message {
  color: rgb(255, 15, 35);
  text-shadow: 1px 1px 1px rgb(19, 27, 35);
}
