:host {
  display: block;
  position: fixed;
  background-color: rgb(89, 131, 129);
  height: 95svh;
  width: 15svw;
  min-width: 155px;
  z-index: 1;
}

.menu {
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  color: rgb(252, 247, 255);
}

ul {
  width: 80%;
  text-align: center;
  list-style-type: none;
  line-height: 3;
  padding: 0;
}

a {
  display: block;
  color: rgb(252, 247, 255);
  border-radius: 15px;
  text-decoration: none;
}

a:hover {
  background-color: rgb(219, 211, 216, 0.2);
}

.is-active {
  background-color: rgb(219, 211, 216, 0.2);
}
