<nav class="menu">
  <h1>Menu</h1>
  <ul>
    <li>
      <a
        routerLink="/home"
        routerLinkActive="is-active"
        ariaCurrentWhenActive="page"
      >
        Home
      </a>
    </li>
    <li>
      <a
        routerLink="/manage/meals"
        routerLinkActive="is-active"
        ariaCurrentWhenActive="page"
        >Manage Meals</a
      >
    </li>
    <li>
      <a
        routerLink="/manage/recipes"
        routerLinkActive="is-active"
        ariaCurrentWhenActive="page"
      >
        Manage Recipes
      </a>
    </li>
    <li>
      <a>Schedule</a>
    </li>
    <li>
      <a>Shopping List</a>
    </li>
  </ul>
</nav>
