<div class="form-container">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <h1>Register</h1>

    <section class="register">
      <p>
        <label for="email">Email: </label>
        <input id="email" type="email" formControlName="email" required />
        <app-control-error controlPath="email"></app-control-error>
      </p>
      <p>
        <label for="password">Password: </label>
        <input
          id="password"
          type="password"
          formControlName="password"
          required
        />
        <app-control-error
          controlPath="password"
          [customErrors]="{
            minlength: 'Password must be at least 6 characters long.',
            strong:
              'Password must contain at least one uppercase letter, one lowercase letter, one numeric digit, and one nonalphanumeric character.',
          }"
        ></app-control-error>
      </p>
    </section>

    <section>
      <p>
        <button type="submit" [disabled]="isSubmitting">Register</button>
      </p>
    </section>

    @if (errorService.messages.length > 0) {
      <app-form-errors></app-form-errors>
    }
  </form>
</div>
