<div class="form-container">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <h1>Register</h1>

    <section>
      <p>
        <label for="email">Email: </label>
        <input
          id="email"
          type="email"
          formControlName="email"
          required
          [class.invalid]="email.invalid && email.touched"
        />
      </p>
      <p>
        <label for="password">Password: </label>
        <input
          id="password"
          type="password"
          formControlName="password"
          required
          [class.invalid]="password.invalid && password.touched"
        />
      </p>
    </section>

    <section>
      <p>
        <button type="submit" [disabled]="isSubmitting">Register</button>
      </p>
    </section>

    @if (errorMessage) {
      <section class="error">
        <p class="error-message">
          {{ errorMessage }}
        </p>
      </section>
    } @else if (
      (email.hasError("required") && email.touched) ||
      (password.hasError("required") && password.touched)
    ) {
      <section class="error">
        <p class="error-message">Please enter both username and password.</p>
      </section>
    } @else if (email.hasError("email") && email.touched) {
      <section class="error">
        <p class="error-message">Please enter a valid email address.</p>
      </section>
    } @else if (password.hasError("minlength") && password.touched) {
      <section class="error">
        <p class="error-message">
          Password must be at least 6 characters long.
        </p>
      </section>
    } @else if (password.hasError("strong") && password.touched) {
      <section class="error">
        <p class="error-message">
          Password must contain at least one uppercase letter, one lowercase
          letter, one numeric digit, and one nonalphanumeric character.
        </p>
      </section>
    }
  </form>
</div>
