.form-container {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  margin-top: 30svh;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 252, 186);
  border: 5px solid rgb(136, 156, 181);
  border-radius: 10px;
  width: 33%;
  min-width: 300px;
}

p {
  display: flex;
  flex-flow: column;
}

input {
  border-color: rgb(136, 156, 181);
}

button {
  background-color: rgb(49, 178, 204);
  border: 1px solid;
  border-radius: 15px;
  font-size: 1.2em;
  padding: 5px 20px;
  text-align: center;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1);
  background-color: rgb(136, 156, 181);
}
