.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(3, 252, 186);
  border: 5px solid rgb(23, 126, 137);
  border-radius: 10px;
  height: 40%;
  width: 40%;
  min-width: 300px;
}

p {
  display: flex;
  flex-flow: column;
}

input {
  border-color: rgb(23, 126, 137);
}

button {
  background-color: rgb(61, 59, 142);
  border: 2px solid;
  color: rgb(252, 247, 255);
  border-radius: 15px;
  font-size: 1.2em;
  padding: 5px 20px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: rgb(61, 59, 142, 0.8);
}

.error {
  width: 66%;
  text-align: center;
}

.error-message {
  font-size: 0.8em;
  color: rgb(255, 15, 35);
}

.invalid {
  border-left: 3px solid rgb(227, 39, 39);
}
