<div class="card">
  <button class="action-menu-trigger" [cdkMenuTriggerFor]="actions">...</button>
  <h2 class="card-title">{{ title }}</h2>
  <div class="card-image-container">
    <img
      class="card-image"
      [ngSrc]="imageUrl || '/27002.jpg'"
      alt="Recipe image."
      fill
      priority
    />
  </div>
</div>

<ng-template #actions>
  <div class="action-menu" cdkMenu>
    <button
      class="action-menu-item"
      cdkMenuItem
      (cdkMenuItemTriggered)="update()"
    >
      Edit
    </button>
    <button
      class="action-menu-item"
      cdkMenuItem
      (cdkMenuItemTriggered)="delete()"
    >
      Delete
    </button>
  </div>
</ng-template>
