:host {
  display: block;
}

.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(3, 252, 186);
  border: 3px solid rgb(19, 27, 35);
  border-radius: 25px;
  box-shadow: inset 0 0 3px 1px rgb(19, 27, 35);
  padding: 10px;
}

.card:hover:not(:has(.action-menu-trigger:hover)) {
  cursor: pointer;
  background-color: rgb(3, 252, 186, 0.8);
}

.card-title {
  border-bottom: 1px solid rgb(19, 27, 35);
  margin-top: 0;
  color: rgb(252, 247, 255);
  text-shadow: 1px 1px 1px rgb(19, 27, 35);
  font-style: italic;
}

.card-image-container {
  position: relative;
  border: 3px solid rgb(61, 59, 142);
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
}

.card-image {
  object-fit: cover;
  user-select: none;
}

.action-menu-trigger {
  place-self: flex-end;
  background-color: rgb(179, 181, 187);
  border: 2px solid rgb(19, 27, 35);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(23, 126, 137);
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
}

.action-menu-trigger:hover {
  transform: scale(1.15);
}

.action-menu {
  display: flex;
  flex-flow: column;
  background-color: rgb(34, 116, 165);
  border: 1px solid rgb(19, 27, 35);
  padding: 5px;
}

.action-menu-item {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  padding: 5px;
  line-height: 1.25;
  text-align: center;
}

.action-menu-item:hover {
  background-color: rgb(61, 59, 142);
}
